@font-face {
    font-family: soraFont;
    src: url('Sora-VariableFont_wght.ttf');
}

html {
    width: 100%;
    height: 100%;
    background-color: #274690;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
    height: 100%;
    font-family: soraFont;
}

.article-preview {
    border: 1em solid #050505;
    border-radius: 25px;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 1.5vw 0 3vw;
    background-color: #DDDBCB;
    text-align: center;
}

.banner {
    margin-bottom: 25px;
    border: 1em solid #050505;
    border-radius: 25px;
    box-sizing: border-box;
    width: 100%;
    background-color: #DDDBCB;
    text-align: center;
}

#article-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    grid-auto-rows: minmax(100px, auto);
    gap: 25px;
    width: 100%;

}

#main-article-container {
    display: grid;
    width: 80%;
}

a {
    text-decoration: none;
}

a:visited {
    color: #1B9AAA;
}

#category-link {
    font-size: 0.7em;
}